# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# NODE / FRONTEND
# =========================
node_modules/
frontend/node_modules/
frontend/dist/
dist/
package-lock.json

# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.log
*.class

# =========================
# IDE / EDITORS
# =========================
.vscode/
.metadata/
.sonarlint/
.idea/
*.iml

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP / UPLOADS
# =========================
*.png
*.jpg
*.jpeg
*.pdf

# =========================
# DOCKER
# =========================
docker-data/